{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>首页</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
      <style>
        .starter{
            padding: 40px 15px;
            text-align:center;
        }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
            <span class="sr-only">切换导航条</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">阳光借贷</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="my-nav">
          <ul class="nav navbar-nav">
            <li class="#"><a href="/index/">主页</a></li>
              <li class="#"><a href="/about/">关于我们</a></li>
              <li class="#"><a href="/message/">借贷中心</a></li>
              <li class="#"><a href="/apply/">额度评估</a></li>
              <li class="active"><a href="/repayments/">还款</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="#"><a href="/logout/">登出</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div clas="container">
        <div class="starter">
          <h1 style="font-family:verdana;">待 还 金 额</h1>
          <p style="font-family:arial;color:red;font-size:30px;">￥150000</p>


          <h1 style="font-family:verdana;">还 款 日 期</h1>
          <p style="font-family:arial;color:red;font-size:30px;">2019年12月24日</p>

          <br>

          <tr>
            <h1 style="background: salmon;">还 款 (￥)</h1>
            <td><input type="tel" style="width:9%;height:5%"></td>
          </tr>

          <tr>
              <br>
          </tr>

          <tr>
              <br>
          </tr>


          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	      确认还款
          </button>

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
              <div class="modal-content">
			    <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					  &times;
				  </button>

			    </div>
			    <div class="modal-body" style="font-size:35px;background:lightgreen;" >
				  还款成功！
			    </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">完成
				</button>

			  </div>
		    </div><!-- /.modal-content -->
	      </div><!-- /.modal -->

        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
